@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.orange-taxt{
    color: #FFA500;
}
.link-button{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 85%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.dream-second-half{
    padding-right: 4%;
}
.experience-bg{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 25px;
    border-radius: 5px;
   
    
   
}
#full-stack-developer{
    border-left: 7px solid transparent;
    border-image: linear-gradient(60deg, rgba(228, 34, 34, 0.79) , rgb(255, 102, 0));
    border-image-slice: 1;
    
   
}
#baby-developer{
    border-left: 7px solid transparent;
  background: 
    linear-gradient(#fff, #fff) padding-box,
linear-gradient(60deg, #0bade8 0%, #0105ef 74%) border-box;
}
footer p{
    text-align: center;
}